html,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/* General styles for webpage layout (including sections) */
#fullpage {
  /* height: 100vh; */
  overflow: hidden;
}
/* 
#fullpage section {
  height: 100vh;
} */

#fullpage section .uk-navbar-nav li a {
  color: #fff;
}

#fullpage section .uk-navbar-nav li a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
/* 
#fullpage section h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 100vh;
  font-size: 10em;
  text-transform: uppercase;
} */

#fullpage section:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/macbook_pro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#fullpage section:nth-child(2) {
  background: #fff;
}

#fullpage section:nth-child(3) {
  background-image: url("../img/jay-wennington.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#fullpage section:nth-child(4) {
  background: #fff;
}

#fullpage #footer {
  background: #222;
  height: 40vh;
  color: #fff;
}

/* Code for home section */
#home {
  height: 100vh;
}

#home nav div ul .brand {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  padding: 10px 20px;
  font-family: "Satisfy", cursive;
}

#home .scroll {
  padding-top: 50px;
}
#home a span {
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#home a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#home a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#home nav .uk-navbar-right .uk-navbar-toggle svg rect {
  fill: #fff;
}

.uk-nav-header {
  padding: 5px 0 !important;
  text-transform: none !important;
  font-size: 0.875rem !important;
}

#home div#offcanvas-flip .uk-offcanvas-bar .uk-nav .social-icons {
  display: flex;
  justify-content: right;
}

.social-icons span a i.fab {
  font-size: 20px !important;
}

#home .hero-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  padding: 10px 30px;
}

#home .hero-text-box h1 {
  color: #fff;
  font-weight: 500;
}

#home .hero-text-box h1 span.name {
  font-family: "Satisfy", cursive;
}

#home .hero-text-box span.description {
  color: #fff;
  font-size: 20px;
}

#home .hero-text-box a {
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: bold;
  text-transform: none;
}

#home .hero-text-box a:hover {
  background: #fff;
  border-color: #222;
  color: #222;
}

/*CODE FOR ABOUT ME SECTION*/
#about_me .uk-container {
  display: flex;
  flex-flow: column;
}

#about_me .uk-container .row h2 {
  color: #222;
  text-align: center;
  padding: 10px 10px;
  font-family: "Satisfy", cursive;
}

#about_me .uk-container .profile .about-me_description {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#about_me .uk-container .profile .about-me_description .profile_img {
  width: auto;
  height: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#about_me .uk-container .uk-switcher .profile_list .profile .about-me_description .description-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #616161;
}

#about_me .uk-container .uk-switcher .profile_list .profile .about-me_description .description {
  text-align: center;
  color: #616161;
  margin-top: 0px;
  padding: 10px 10px;
}

#about_me .uk-container .uk-switcher .profile_list .profile .about-me_description .description .description-text {
  display: flex;
  flex-flow: column;
}

#about_me .uk-container .uk-switcher .skills_list .skills_stat .skills {
  display: flex;
}

#about_me .uk-container .uk-switcher .skills_list .skills_stat .skills .skill-title {
  text-align: right;
  padding-right: 20px;
}
#about_me .uk-container .uk-switcher .skills_list .skills_stat .skills .uk-progress::-moz-progress-bar {
  background-color: #616161 !important;
}

#about_me .uk-container .uk-switcher .skills_list .skills_stat .skills .uk-progress {
  height: 20px !important;
  border-radius: 0px !important;
}

#about_me .uk-container .uk-subnav-pill {
  padding-top: 50px;
}

#about_me .uk-container .uk-subnav-pill .uk-active a {
  background-color: #222 !important;
  color: #fff;
}

/* CODE FOR PROJECT SECTION */

#projects .uk-container .row h2 {
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  /* font-weight: bold; */
  font-family: "Satisfy", cursive;
}

#projects .uk-container div#project-cards {
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 70px;
}

#projects .uk-container div#project-cards div div#card-list .uk-card-body a {
  border-color: #222;
  color: #222;
  border-radius: 5px;
  text-transform: none;
}

#projects .uk-container div#project-cards div div#card-list .uk-card-body a:hover {
  border-color: #fff;
  background: #222;
  color: #fff;
  font-weight: bold;
}

#projects .uk-container div#project-cards div div#card-list .uk-card-body h3 {
  font-family: "Satisfy", cursive;
}

#projects .uk-container div#project-cards div div#card-list .uk-card-body span {
  background: #222;
  font-size: 10px;
  padding: 6px 12px;
  font-weight: bold;
}

/* CODES FOR HIRE_ME SECTION */
#hire_me .uk-container .row h2 {
  color: #222;
  text-align: center;
  padding: 30px 0px 10px 0px;
  font-family: "Satisfy", cursive;
}

#hire_me .uk-container div#contact-me form {
  padding-bottom: 30px;
}

#hire_me .uk-container div#contact-me form input.uk-button {
  border-color: #222;
  color: #222;
  border-radius: 5px;
  text-transform: none;
}

#hire_me .uk-container div#contact-me form input.uk-button:hover {
  border-color: #fff;
  background: #222;
  color: #fff;
  font-weight: bold;
}

/* CODE FOR FOOTER SECTION */
#footer .uk-container .row h3 {
  color: #fff;
  text-align: center;
  padding: 30px 0px 10px 0px;
  font-family: "Satisfy", cursive;
}

#footer .uk-container .footer_social-icons span a.icon {
  color: #fff;
}

#footer .uk-container div.floating-btn {
  bottom: 50px;
}

#footer .uk-container div.floating-btn a#target {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 15px 10px;
  margin: 20px 0px;
  border: 2px solid #616161;
  color: #fff;
  background: #616161;
  float: right;
}

#footer .uk-container div a#target:hover {
  background: #797979;
}

#footer .uk-container div.footnote {
  color: #fff;
  font-size: 10px;
  padding: 10px 30px;
  margin-top: 40px;
}
